<div class="cadastro-container">
  <div class="cadastro-header">
    <h3>Cadastro</h3>
  </div>
  <form id="frmCadastro">
    <div class="email-field">
      <label>Email</label>
      <br>
      <input type="text" name="email" id="email" value="" placeholder="email@gmail.com">
    </div>
    <div class="name-field">
      <label>Nome</label>
      <br>
      <input type="text" name="name" id="name" value="" placeholder="Wesley Ferreira">
    </div>
    <input type="button" id="btnSendFrmCadastro" value="Cadastrar"> 
    <div id="msgCadastro" class="text-danger"></div>
  </form>
</div>