<footer id="footer">
  <div class="links">
    <a href="https://github.com/wesferoli" target="_blank">
      <img 
        src="..\img\github.svg" 
        alt="github logo"
      >
    </a>
    <a href="https://www.linkedin.com/in/wesferoli/" target="_blank">
      <img 
        src="..\img\linkedin.svg" 
        alt="linkedin logo">
    </a>
  </div>
  <hr>
  <div class="credits">
    <p>
      Icons made by 
      <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a>
      from 
      <a href="https://www.flaticon.com/" title="Flaticon" target="_blank" >www.flaticon.com</a>
    </p>
  </div>
  <hr>
  <p>Veja este projeto no <a href="https://github.com/wesferoli/MovieMe" target="_blank">Github</a></p>
</footer>

</body>
</html>