<div class="login-container">
  <div class="login-header">
    <h3>Login</h3>
  </div>
  <form id="frmLogin">
    <div class="email-field">
      <label>Email</label>
      <br>
      <input type="text" name="user" id="user" value="" placeholder="email@gmail.com">
    </div>
    <div class="pass-field">
      <label >Senha</label>
      <br>
      <input type="password" name="pass" id="pass" value="" placeholder="******">
    </div>
    <div class="pass-recovery">
      <p><a href="firstLogin.jsp" id="regButton">Esqueceu a senha?</a></p>
    </div>
    <input type="button" id="btnSendFrmLogin" value="Entrar"> 
    <div id="msgLogin" class="text-danger"></div>
  </form>
</div>