.add-review-container {
  width: 830px;
  margin: 90px auto;
  padding: 70px 70px;
  background-color: #3B4651;
  border: 1px solid #F8D98B;
  border-radius: 5px;
  
  color: #FFFFFF;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
}

.add-review-container h2 {
  color: #F8D98B;
  font-weight: bold;
}

.add-review-container hr {
  background-color: #F8D98B;
}

.add-review-header {
  display: flex;
}

.add-review-header img {
  width: 230px;
  height: 408px;
  box-shadow: 0px 0px 20px -3px #F8D98B;
}

.year-categ-container {
  display: block;
  margin-left: 20px;
}

.year-categ {
  display: flex;
  align-items: center;
}

.year-categ h6 {
  margin-bottom: 0px;
  line-height: 30px;
}

.add-review-header .year-categ hr {
  margin: 0px 15px;
  width: 1px;
  height: 20px;
}

.add-review-form {
  display: block;
}

#frmAddReview label, #frmAddReview #star {
  display: block;
}

#frmAddReview input {
  margin: 10px 0;
  border: none;
}

#frmAddReview .star-inputs {
  display: flex;
  margin: 10px 0;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#frmAddReview .star-inputs input {
  display: none;
}

#frmAddReview .star-inputs label {
  cursor: pointer;
  margin: 0 3px;
}

#frmAddReview .star-inputs label:before {
  content: '\f005';
  font-family: fontAwesome;
  font-size: 25px;
  color: #C5C5C5;
}

#frmAddReview .star-inputs label:hover:before {
  content: '\f005';
  font-family: fontAwesome;
  font-size: 25px;
  transition: .3s;
  color: #F8D98B;
}

#frmAddReview .star-inputs label:hover:before,
#frmAddReview .star-inputs input:checked ~ label:before {
	color: #F8D98B;
}

#frmAddReview input[name="titulo"] {
  border-radius: 50px;
  width: 50%;
  height: 35px;
  padding: 0 10px;
}

#frmAddReview textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

#frmAddReview .button {
  display: flex;
  justify-content: center;
}

#frmAddReview #btnSendFrmAddReview {
  background: radial-gradient(50% 1179.59% at 50% 50%, #F8D98B 10.42%, rgba(248, 217, 139, 0.5) 100%);
  border: 1px solid #222229;
  box-sizing: border-box;
  border-radius: 50px;
  
  margin: 30px 0% 0 0%;
  padding: 5px 20px;
}

#frmAddReview #msgAddReview {
  display: flex;
  justify-content: center;
  font-weight: bold;
}